/* Палитра  */

/* цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет фона #ffffff */
/* цвет акцента: #2196F3 */




 :root {
     --base-text-color: #212121;
     --accent-color: #2196F3;
     --hero-color: #ffffff;
     --text-color: #757575;
     --accent-background: #2F303A;
 }


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--hero-color);
    color: var(--base-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}


/* header */

.header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato;  */
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.logo-header {
    color: var(--accent-color);
    margin-right: 93px;

    font-family: Raleway, sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* .logo-header:hover,
.logo-header:focus {
    color: var(--base-text-color);
} */

.header-span {
    color: var(--base-text-color);
}

/* .header-span:hover,
.header-span:focus {
    color: var(--accent-color);
} */

/* Site-nav */

.site-nav {
    display: flex;
}
  
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--base-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.nav-link:hover {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.current:hover,
.current:focus {
    color: var(--base-text-color);
}

 /* Auth */

.auth {
    display: flex;

}

.auth .item:not(:last-child) {
    margin-right: 50px;
}

.auth-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.auth-link:hover,
.auth-link:focus {
    color: var(--accent-color);
}


/* Main */

/* Hero */

.hero {
    background-color: var(--accent-background); 
    text-align: center;
    padding-bottom: 280px;
    padding-top: 200px;
}

.hero-title {
    margin: 0 auto 30px;
    width: 696px;

    color: var(--hero-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* buttons */

.button {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    
    background-color: var(--accent-color);
    color: var(--hero-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
}

.filter {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;

    background-color: #F5F4FA;;
    color: var(--base-text-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}

.filter:hover,
.filter:focus {
    background-color: var(--accent-color);
    color: var(--hero-color);
}

.section {
    padding-bottom: 94px;   
}

/* Portfolio */

.main {
    background-color: #FFFFFF;
}

.section-filter {
    padding-top: 94px;
    margin-bottom: 50px;
}

.section-filter .buttons {
    display: flex;
    justify-content: center; 
}

.filter:not(:last-child) {
    margin-right: 8px;
}


/* Photo-portfolio */


.section-photo {
    margin-bottom: 94px;
}

.photo  {
    display: flex;
    flex-wrap: wrap;
} 

.photo-container {
    width: 370px;
    margin-right: 30px;
    padding-bottom: 30px;
    
    background-color: var(--hero-color);
}  

.photo-container img {
    display: block;
}

.photo-container:nth-last-child(-n + 3) {
    padding-bottom: 0;
}

.photo-container:nth-child(3n) {
    margin-right: 0;
}


.photo .border {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
}

.photo .title {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--base-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.photo .text {
    margin-top: 0;
    margin-bottom: 0;
    
    color: var(--text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

/* First section */


.display-none {
    display: none;
}

.section.description {
    padding-top: 94px;
}
.section-title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--base-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.description ul {
    display: flex;
    justify-content: space-between;
}

.description .item {
    width: 270px;
}

.description-title {
    color: var(--base-text-color);
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.description-text {
    color: var(--base-text-color);
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/* Second section */

.photo .section-title {
    margin-bottom: 50px;
}

.section .photo {
    margin-right: 0;
}

.photo-work {
    display: flex;
    justify-content: space-between;
}

.photo-work .item {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Third section */

.team {
    background-color: #F5F4FA;
    text-align: center;
    padding-top: 94px;
}

.team .section-title {
    margin-bottom: 50px;
}

.photo-team .item {
    width: 270px;
    background-color: var(--hero-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.photo-team .photo {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
}

.team .title {
    margin-bottom: 10px;
}

.photo-team {
    display: flex;
    justify-content: space-between;
}


.team .text {
    margin-top: 0;
    margin-bottom: 30px;
}

.section .title {
    margin-top: 0;
    color: var(--base-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.section .text {
    color: var(--text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}


/* footer */

.footer {
    background-color: var(--accent-background); 
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer a {
    display: inline-block;
}

.logo-footer {
    margin-bottom: 20px;

    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* .logo-footer:hover,
.logo-footer:focus {
    color: var(--hero-color);
} */

.footer-span {
    color: var(--hero-color);
}

/* .footer-span:hover,
.footer-span:focus {
    color: var(--accent-color);
} */

address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.address {
    color: var(--hero-color);
}   

.address:hover,
.address:focus {
    color: var(--accent-color);
}

/* .footer .link {
    margin-bottom: 9px;
}  */

.footer .item:not(:last-child) {
    margin-bottom: 9px;
}  

address .link {
    color: rgba(255, 255, 255, 0.6);
}

address .link:hover,
address .link:focus {
    color: var(--accent-color);
}

