

 :root {
     --base-text-color: #212121;
     --accent-color: #2196F3;
     --hero-color: #ffffff;
     --text-color: #757575;
     --accent-background: #2F303A;
 }


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--hero-color);
    color: var(--base-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.section {
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--base-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__logo {
    color: var(--accent-color);
    margin-right: 93px;

    font-family: Raleway, sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.nav__logo--span {
    color: var(--base-text-color);
}

/* Site-nav */

.site-nav {
    display: flex;
}
  
.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--base-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover {
    color: var(--accent-color);
}

.site-nav__link--current {
    position: relative;
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current:hover,
.site-nav__link--current:focus {
    color: var(--accent-color);
}


.site-nav__link--current::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px; 
   
}


 /* Auth */

.auth {
    display: flex;
}

.auth__item {
    display: flex;
    align-items: center;
}

.auth__item:not(:last-child) {
     margin-right: 50px; 
}

.auth__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth__icon {
    display: block;
    fill: currentColor;
    margin-right: 10px;
}

.auth__link:hover {
    color: var(--accent-color);
}

/* Main */

/* Hero */

.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    padding-bottom: 200px;
    padding-top: 200px; 
    text-align: center;
    
    background-color: var(--accent-background);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/Img.hero.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    margin: 0 auto 30px;
    width: 696px;
    color: var(--hero-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* buttons - filters */

.hero__button {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    
    background-color: var(--accent-color);
    color: var(--hero-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
}

 /* filter portfolio  */

.filter {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;

    background-color: #F5F4FA;;
    color: var(--base-text-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover,
.filter:focus {
    background-color: var(--accent-color);
    color: var(--hero-color);
}

/* Portfolio */


.section-filter {
    padding-top: 94px;
    margin-bottom: 50px;
}

.section-filter .buttons {
    display: flex;
    justify-content: center; 
}

.filter:not(:last-child) {
    margin-right: 8px;
}


/* Photo-portfolio */


.section-photo {
    margin-bottom: 94px;
}

.photo  {
    display: flex;
    flex-wrap: wrap;
} 

.photo-container {
    width: 370px;
    margin-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    
    
    background-color: var(--hero-color);
    border: 1px solid #EEEEEE;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  

.photo-container:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo-container img {
    display: block;
    
}

.photo-container:nth-last-child(-n + 3) {
    padding-bottom: 0;
}

.photo-container:nth-child(3n) {
    margin-right: 0;
}


.photo .border {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
  
}

.photo .title {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--base-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.photo .text {
    margin-top: 0;
    margin-bottom: 0;
    
    color: var(--text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}


.product-thumb {
    position: relative;
    overflow: hidden; 
} 
 
.product-overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
} 

 .photo-container:hover .product-overlay {
    transform: translateY(0);
} 

.text-overlay {
    display: flex;
    position: absolute;
    width: 322px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    color: var(--hero-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}


/* First section */

.display-none {
    display: none;
}

.section-description {
    padding-top: 94px;
}

.section-description__list {
    display: flex;
    justify-content: space-between;
} 

.section-description__item {
    width: 270px;
}

.section-description__sprite {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}


.section-description__title {
    color: var(--base-text-color);
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-description__text {
    color: var(--base-text-color);
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/* Second section */

.section-photo {
    margin-right: 0;
}

.section-photo .section-title {
    margin-bottom: 50px;
}

.section-photo__work {
    display: flex;
    justify-content: space-between;
}

.section-photo__item {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto; 
}

.section-photo__item img {
    display: block;
}

.section-photo__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: var(--hero-color);
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Third section */

.section-team {
    background-color: #F5F4FA;
    text-align: center;
    padding-top: 94px; 
}

.section-team .section-title {
    margin-bottom: 50px;
}

.section-team__item {
    width: 270px;
    background-color: var(--hero-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-team__photo {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
}

.section-team__title {
    margin-bottom: 10px;
}

.section-team__photos {
    display: flex;
    justify-content: space-between;
} 


.section-team__text   {
    margin-top: 0;
    margin-bottom: 16px; 
    color: var(--text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.section-team__title {
    margin-top: 0;
    color: var(--base-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
}


.section-team__sprite {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.section-team__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    background-color: var(--hero-color) ;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__button:not(:last-child) {
    margin-right: 10px;
}

.section-team__button:hover {
    color: var(--hero-color);
    background-color: var(--accent-color);  
}

.section-team__icon {
    fill: currentColor; 
}

/* Fourth section */

.section-client {
    text-align: center;
    padding-top: 94px;
    margin-bottom: 94px;
}

.section-client .section-title {
    margin-bottom: 50px;
}

.section-client__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.section-client__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #afb1b8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-client__button:hover {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.section-client__icon {
     fill: currentColor;
}

.section-client__item:not(:last-child) {
    margin-right: 30px;
}

/* Footer */

.footer {
    background-color: var(--accent-background); 
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__connection {
    display: flex;
}

/* connection first */

.footer__connection--first {
    margin-right: 70px;
}

.footer__logo {
    margin-bottom: 20px;
    display: inline-block;
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.footer__span {
    color: var(--hero-color);
}

.footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.footer__link {
   
    color: var(--hero-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__link--mail, 
.footer__link--tel {
    color: rgba(255, 255, 255, 0.6);
}

.footer__link:hover,
.footer__link:focus {
    color: var(--accent-color);
}

/* connection second */

.connection-messenger__title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #FFFFFF; 
}

.connection-messenger__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection-messenger__button:hover {
    background-color: var(--accent-color);
}

.connection-messenger__link:not(:last-child) {
    margin-right: 10px;
}

.connection-messenger__sprite {
    display: flex;  
} 

.connection-messenger__team {
    fill: var(--hero-color);
}

/* connection third  */

.footer-email {
    margin-left: 93px;
}

.footer-email__label {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--hero-color);
}

.footer-email__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 0 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--accent-background);
}

.footer-email__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: rgba(255, 255, 255, 0.6);
}

.footer-email__input:not(:placeholder-shown) {
    background-color: var(--hero-color);
    color: var(--base-text-color);
}


.footer-email__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    color: var(--hero-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.footer-email__div {
    display: flex;
}

.footer-email__icon {
    margin-left: 10px;
}

/* < !-- Modal window --> */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.backdrop__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    background-color: var(--hero-color);  
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none; 
}

.backdrop__button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    
    background-color: var(--hero-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--base-text-color);

    cursor: pointer; 
}

.backdrop__button:hover {
    color: var(--accent-color);
}

.backdrop__icon {
    fill: currentColor;
}

.form-field {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.form-field__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 12px;
    margin-top: 0;
}

.form-field__label {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    
    color: var(--text-color);
}


.form-field__input {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    margin-bottom: 10px;
  
    border: 1px solid rgba(33, 33, 33, 0.2); 
    border-radius: 4px;
}

.form-field__input:hover,
.form-field__input:focus {
    border: 1px solid #2196F3;
    outline: none;
}  

.form-field__item {
    position: relative;
}

.form-field__icon {
    position: absolute;
    top: 32px;
    left: 15px; 
    display: inline-block;
    fill: var(--base-text-color);
} 

.form-field__input:hover + .form-field__icon,
.form-field__input:focus + .form-field__icon {
    fill: #2196F3;
} 

.form-field__comment {
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
    padding: 16px 16px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

.form-field__comment::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.form-field__comment:hover,
.form-field__comment:focus {
    border: 1px solid #2196F3;
    outline: none;
}

.form-field__terms {
    display: flex;
    align-items: center;
    padding-left: 2em;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
 
    color: var(--text-color);
}


.form-field__treaty {
    color: var(--accent-color);
    text-decoration: underline;
    margin-left: 3px; 
}



.form-field__submit {
    margin: 0 auto;
    cursor: pointer;
    display: block;
    width: 200px;
    height: 50px;
    padding: 0;
    margin-bottom: 40px;
   
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    
    color: var(--hero-color);
}

.form-field__check {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-field__box {
    display: inline-block;
    position: absolute;
    margin-left: -1.6em;
    width: 16px;
    height: 15px;
    background-image: url(../image/icons.svg/form/2iconcheck.svg);
    background-size: contain;
    background-origin: border-box;
    background-color: var(--hero-color);
    background-repeat: no-repeat;
} 

.form-field__check:checked + .form-field__box {
    background-image: url(../image/icons.svg/form/iconcheck.svg);
    background-color: var(--hero-color);
    border-color: var(--accent-color);
    background-size: contain;
    background-origin: border-box;
    border-radius: 2px;
}