

 :root {
     --base-text-color: #212121;
     --accent-color: #2196F3;
     --hero-color: #ffffff;
     --text-color: #757575;
     --accent-background: #2F303A;
 }


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--hero-color);
    color: var(--base-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}


/* header */

.header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.logo-header {
    color: var(--accent-color);
    margin-right: 93px;

    font-family: Raleway, sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.header-span {
    color: var(--base-text-color);
}

/* Site-nav */

.site-nav {
    display: flex;
}
  
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--base-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current:hover,
.current:focus {
    color: var(--accent-color);
}

.site-nav .current {
    position: relative;
}

.site-nav .current::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px; 
   
}


 /* Auth */

.auth {
    display: flex;
}

.auth .item {
    display: flex;
    align-items: center;
}

.auth .item:not(:last-child) {
     margin-right: 50px; 
}

.auth-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth .icon {
    display: block;
    fill: currentColor;
    margin-right: 10px;
}

.auth-link:hover {
    color: var(--accent-color);
}

/* Main */

/* Hero */

.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    padding-bottom: 200px;
    padding-top: 200px; 
    text-align: center;
    
    background-color: var(--accent-background);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/Img.hero.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    margin: 0 auto 30px;
    width: 696px;
    color: var(--hero-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* buttons - filters */

.button {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    
    background-color: var(--accent-color);
    color: var(--hero-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
}

.filter {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;

    background-color: #F5F4FA;;
    color: var(--base-text-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover,
.filter:focus {
    background-color: var(--accent-color);
    color: var(--hero-color);
}

.section {
    padding-bottom: 94px;   
}

/* Portfolio */

.main {
    background-color: #FFFFFF;
}

.section-filter {
    padding-top: 94px;
    margin-bottom: 50px;
}

.section-filter .buttons {
    display: flex;
    justify-content: center; 
}

.filter:not(:last-child) {
    margin-right: 8px;
}


/* Photo-portfolio */


.section-photo {
    margin-bottom: 94px;
}

.photo  {
    display: flex;
    flex-wrap: wrap;
} 

.photo-container {
    width: 370px;
    margin-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    
    
    background-color: var(--hero-color);
    border: 1px solid #EEEEEE;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  

.photo-container:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo-container img {
    display: block;
    
}

.photo-container:nth-last-child(-n + 3) {
    padding-bottom: 0;
}

.photo-container:nth-child(3n) {
    margin-right: 0;
}


.photo .border {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
  
}

.photo .title {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--base-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.photo .text {
    margin-top: 0;
    margin-bottom: 0;
    
    color: var(--text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}


.product-thumb {
    position: relative;
    overflow: hidden; 
} 
 
.product-overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
} 

 .photo-container:hover .product-overlay {
    transform: translateY(0);
} 

.text-overlay {
    display: flex;
    position: absolute;
    width: 322px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    color: var(--hero-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}


/* First section */

.display-none {
    display: none;
}

.section.description {
    padding-top: 94px;
}


.section-title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--base-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.description ul {
    display: flex;
    justify-content: space-between;
} 

.description .item {
    width: 270px;
}

.description .sprite {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}


.description-title {
    color: var(--base-text-color);
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.description-text {
    color: var(--base-text-color);
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/* Second section */

.photo .section-title {
    margin-bottom: 50px;
}

.section .photo {
    margin-right: 0;
}

.photo-work {
    display: flex;
    justify-content: space-between;
}

.photo-work .item {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto; 
}


.photo-work .item::before {
    display: inline-block;
    content: "";
    position: absolute;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
}

.photo-work img {
    display: block;
}

.photo-work .text {
    position: absolute;
    bottom: 27px;
    left: 83px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--hero-color);
}


/* Third section */

.team {
    background-color: #F5F4FA;
    text-align: center;
    padding-top: 94px;
}

.team .section-title {
    margin-bottom: 50px;
}

.photo-team .item {
    width: 270px;
    background-color: var(--hero-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.photo-team .photo {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
}

.team .title {
    margin-bottom: 10px;
}

.photo-team {
    display: flex;
    justify-content: space-between;
} 


.team .text {

    margin-top: 0;
    margin-bottom: 16px; 
    color: var(--text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.section .title {
    margin-top: 0;
    color: var(--base-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
}


.team .sprite {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.team .button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    background-color: var(--hero-color) ;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .button-icon:not(:last-child) {
    margin-right: 10px;
}

.team .button-icon:hover {
    color: var(--hero-color);
    background-color: var(--accent-color);
   
}

.team .team-icon {
    fill: currentColor; 
}

/* Fourth section */

.client {
    text-align: center;
    padding-top: 94px;
    margin-bottom: 94px;
}

.client .section-title {
    margin-bottom: 50px;
}

.clients-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
   
}

.client .button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #afb1b8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client .button-icon:hover {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.client-icon {
     fill: currentColor;
}



.client .client-item:not(:last-child) {
    margin-right: 30px;
}

/* Footer */

.footer {
    background-color: var(--accent-background); 
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .connection {
    display: flex;
}

.footer a {
    display: inline-block;
}

.logo-footer {
    margin-bottom: 20px;

    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.footer-span {
    color: var(--hero-color);
}

address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.address {
    color: var(--hero-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.address:hover,
.address:focus {
    color: var(--accent-color);
}


.footer .item:not(:last-child) {
    margin-bottom: 9px;
}

.mail, .tel {
    color: rgba(255, 255, 255, 0.6);
}

address .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address .link:hover,
address .link:focus {
    color: var(--accent-color);
}

.connection-div {
    margin-right: 70px;
}

.connection-messenger h3 {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #FFFFFF; 
}

.sprite-messenger .button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sprite-messenger .button-icon:hover {
    background-color: var(--accent-color);
}

.sprite-messenger li:not(:last-child) {
    margin-right: 10px;
}

.connection-messenger .sprite-messenger {
    display: flex;  
} 

.sprite-messenger .team-icon {
    fill: var(--hero-color);
}

/* < !-- Modal window --> */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    background-color: var(--hero-color);  
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none; 
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    
    background-color: var(--hero-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background-image: url(../image/icons.svg/close-button/close-black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

