

.section-description {

    @media  screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }

&__list {

    @media screen and (min-width: 768px)  {
    display: flex;
    flex-wrap: wrap;
}
}

&__item {

    @media screen and (max-width: 767px) {

    &:not(:last-child) {
    margin-bottom: 30px;
    }         
    }

    @media screen and (min-width: 768px) {
        width: 354px;

        &:nth-child(odd) {
        margin-right: 30px;
        }
        }

     @media screen and (min-width: 1200px) {
        width: 270px;

        &:not(:last-child) {
                margin-right: 30px;
            }
        }
}

&__sprite {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

&__title {
    color: $base-text-color;
     margin-top: 0;
    margin-bottom: 10px;

    font-weight: $second-fw;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        text-align: center;
    }

}

&__text {
    color: $text-color;
    margin: 0;
    

    font-weight: $fourth-fw;
    font-size: 14px;

}
}