.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;

    background-color: $accent-background;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/Img.hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;



&__title {
    margin: 0 auto 30px;
    width: 696px;
    color: $hero-color;

    font-weight: $first-fw;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


&__button {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;

    background-color: $accent-color;
    color: $hero-color;

    font-family: inherit;
    font-weight: $second-fw;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
}
}