.section-service {
    margin-bottom: 94px;

&__photo {
    display: flex;
    flex-wrap: wrap;
}

&__container {
    width: 370px;
    margin-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;

    background-color: $hero-color;
    border: 1px solid #EEEEEE;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

& img {
    display: block;
}

&:nth-last-child(-n + 3) {
    padding-bottom: 0;
}

&:nth-child(3n) {
    margin-right: 0;
}

&:hover .section-service__overlay {
    transform: translateY(0);
}
}

&__border {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
}

&__title {
    margin-top: 0;
    margin-bottom: 4px;

    color: $base-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

&__text {
    margin-top: 0;
    margin-bottom: 0;

    color: $text-color;

    font-weight: $fourth-fw;
    font-size: 16px;
    line-height: 1.9;
}

&__thumb {
    position: relative;
    overflow: hidden;
}

&__overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

&--text {
    display: flex;
    position: absolute;
    width: 322px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: $hero-color;
    font-weight: $fourth-fw;
    font-size: 18px;
    line-height: 1.5;
}
}
}