.section-team {
    background-color: #F5F4FA;
    text-align: center;
    

    @media screen and (max-width: 1200px) {
        padding-top: 60px;
    }


& .section-title {

    @media screen and (min-width: 480px) {
            margin-bottom: 30px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }

}

&__item {

    background-color: $hero-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

        @media screen and (min-width: 480px) {
        width: 450px;
        }

        @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;   
        }
        }

    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;

        &:nth-child(odd) {
            margin-right: 30px;
        }
        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }

        }

        @media screen and (min-width: 1200px) {
        width: 270px;
        }
}

&__photos {
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }
}

&__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

&__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $base-text-color;

    font-weight: $second-fw;
    font-size: 14px;
    line-height: 1.1;
}

&__text {
    margin-top: 0;
    margin-bottom: 16px;
    color: $text-color;

    font-weight: $fourth-fw;
    font-size: 14px;
    line-height: 1.7;
}


&__sprite {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

&__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    background-color: $hero-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:not(:last-child) {
    margin-right: 10px;
}

&:hover {
    color: $hero-color;
    background-color: $accent-color;
}
}

&__icon {
    fill: currentColor;
}
}