    $base-text-color: #212121;
    $accent-color: #2196F3;
    $hero-color: #ffffff;
    $text-color: #757575;
    $accent-background: #2F303A;

    $main-ff: Roboto, sans-serif;
    $second-ff: Raleway, sans-serif;

    $first-fw: 900;
    $second-fw: 700;
    $third-fw: 500;
    $fourth-fw: 400;
   